<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>UniversityList</servlet-name>
        <servlet-class>com.github.istin.schedule.backend.servlet.UniversityList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerList</servlet-name>
        <servlet-class>com.github.istin.schedule.backend.servlet.LecturerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleList</servlet-name>
        <servlet-class>com.github.istin.schedule.backend.servlet.ScheduleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentList</servlet-name>
        <servlet-class>com.github.istin.schedule.backend.servlet.DepartmentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyList</servlet-name>
        <servlet-class>com.github.istin.schedule.backend.servlet.FacultyList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupList</servlet-name>
        <servlet-class>com.github.istin.schedule.backend.servlet.GroupList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupScheduleList</servlet-name>
        <servlet-class>com.github.istin.schedule.backend.servlet.GroupScheduleList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UniversityList</servlet-name>
        <url-pattern>/university_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerList</servlet-name>
        <url-pattern>/lecturer_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleList</servlet-name>
        <url-pattern>/schedule_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentList</servlet-name>
        <url-pattern>/department_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyList</servlet-name>
        <url-pattern>/faculty_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupList</servlet-name>
        <url-pattern>/group_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupScheduleList</servlet-name>
        <url-pattern>/group_schedule_list</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>